.App {
	text-align: center;
	}
html {
	height: 100%;
	}
body {
	min-height: 100%;
	}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100%;
	overflow-x: hidden;
	color: #616161;
	}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: inherit;
	}
